
/****page-switcher*****/
.page_switcher{
    width: calc(100% - 4px);
    background: rgba(118, 118, 128, 0.12);
    border-radius: 8.91px;
    position: relative;
    display: flex;
    padding: 2px;
    .link_wrapper{
        width: 50%;
        position: relative;
        z-index: 5;
        a{
            width: 100%;
            height: 28px;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            letter-spacing: -0.24px;
            color: #000000;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .active{
            font-weight: 600;
        }
    }
    .switcher-btn{
        position: absolute;
        width: 50%;
        height: calc(100% - 4px);
        background: #FFFFFF;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12), 0 3px 1px rgba(0, 0, 0, 0.04);
        border-radius: 6.93px;
        transition: 0.3s;
    }

    .active_first {
        transform: translateX(calc(100% - 4px));
    }
    .active_second {
        transform: translateX(0);
    }
}


.auth_container{
    width: 30%;
    margin: 0 auto;
    padding-top: 100px;
    .auth_content{

        .auth_title_box{
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin: 30px 0;
            strong{
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 22px;
            }
            span{
                font-style: normal;
                font-weight: normal;

                font-size: 16px;
                line-height: 120%;
                color: #979797;
                margin-top: 8px;
            }
        }
        .btn-wrapper{
            margin: 40px 0;
        }
        .forgot-password-box{
            text-align: center;
            margin-top: 21px;
            a{
                font-style: normal;
                font-weight: normal;
                text-decoration: none;
                font-size: 18px;
                line-height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #69A5FF;
            }
        }
        .terms_conditions_link{
            margin-top: 8px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            color: #979797;

            a{
                color: #69A5FF ;
                text-decoration: none;
            }
        }
    }

}

@media screen and (max-width: 991px){
    .auth_container{
        width: 80%;
    }
}