.dashboard-wrapper{
   .nav{
     padding: 10px 15px;
     display: flex;
     justify-content: space-between;
     box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0;
   }
  .body{
    width: 90%;
    margin: 50px auto;
  }
}